/*------------------------------------------------ LOGIN ------------------------------------------------*/
*{margin: 0;padding: 0;}
#web_login{
    
    width:100%;
    height:auto;
    min-height:100%;
    position:absolute;
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(242,246,248,1) 55%, rgba(216,225,231,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(55%, rgba(242,246,248,1)), color-stop(100%, rgba(216,225,231,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(242,246,248,1) 55%, rgba(216,225,231,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(242,246,248,1) 55%, rgba(216,225,231,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(242,246,248,1) 55%, rgba(216,225,231,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(242,246,248,1) 55%, rgba(216,225,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8e1e7', GradientType=1 );
}
#web_login .logo{
    background:url('../images/login/logo-cpanel.png') no-repeat center top;
    -moz-background-size: 500px auto;
    -o-background-size: 500px auto;
    -webkit-background-size: 500px auto;
    background-size: 500px auto;
    width:500px;
    height:126px;
    margin:0px auto 5px;
}
#web_login .frm-container{
    
    width:488px;
    height:340px;
    margin:0 auto;
    text-align: center;
    
    /*---- acomodamos a que quede a la mitad ----*/
    position:relative;
    margin-top:10%;

}

/*---------------------------------- FORMULARIO ------------------------------------*/
/* ----------------------------- formulario ------------------------------------*/

 #web_login input[type=text], #web_login  input[type=password]{

    border: 0px;
    background:#ffffff url('../images/login/text-boxes.png') no-repeat left top;
    
    color:#888;
    outline:none;
    width: 90%;
    margin: 5px auto 8px auto;
    padding: 15px 10px 15px 30px;
   
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    
    -moz-background-size: 24px auto;
    -o-background-size: 24px auto160px;
    -webkit-background-size: 24px auto;
    background-size: 24px auto;
    
    -webkit-box-shadow:inset 0px 0px 10px #c6c6c6;
    -moz-box-shadow:inset 0px 0px 10px #c6c6c6;
    box-shadow:inset 0px 0px 10px #c6c6c6;
    border:1px solid #cdcdcd;
    opacity:0.70;

}
#web_login  input:hover, #web_login  input:focus{opacity:1;}
#web_login .user{background-position:0px 0;}
#web_login .user:focus{background-position:0px -60px;}
#web_login .pass{background-position:0px -120px!important;}
#web_login .pass:focus{background-position:0px -180px!important;}

/*BUTTON*/
#web_login button{
    
    width:90%;
    padding:15px;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    text-shadow:1px 1px 2px #555555;
    text-align:center;
    outline:none;
    margin: 5px auto;

    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    cursor:pointer;
}
#web_login .btn{
    
    background: rgba(241,125,37,1);
    background: -moz-linear-gradient(top, rgba(241,125,37,1) 0%, rgba(242,112,36,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,125,37,1)), color-stop(100%, rgba(242,112,36,1)));
    background: -webkit-linear-gradient(top, rgba(241,125,37,1) 0%, rgba(242,112,36,1) 100%);
    background: -o-linear-gradient(top, rgba(241,125,37,1) 0%, rgba(242,112,36,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,125,37,1) 0%, rgba(242,112,36,1) 100%);
    background: linear-gradient(to bottom, rgba(241,125,37,1) 0%, rgba(242,112,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17d25', endColorstr='#f27024', GradientType=0 );
    border:1px solid #f79627;
}
#web_login .btn:hover{
    
    background: rgba(252,130,42,1);
    background: -moz-linear-gradient(top, rgba(252,130,42,1) 0%, rgba(227,93,16,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,130,42,1)), color-stop(100%, rgba(227,93,16,1)));
    background: -webkit-linear-gradient(top, rgba(252,130,42,1) 0%, rgba(227,93,16,1) 100%);
    background: -o-linear-gradient(top, rgba(252,130,42,1) 0%, rgba(227,93,16,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,130,42,1) 0%, rgba(227,93,16,1) 100%);
    background: linear-gradient(to bottom, rgba(252,130,42,1) 0%, rgba(227,93,16,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc822a', endColorstr='#e35d10', GradientType=0 );
}
/*------------------- MENU INFERIOR --------------------*/
#web_login .login-menu {
    
    text-align: center;
    padding: 5px 0;
    margin: 10px auto;
}
#web_login a{
    color:#3aadf2;
    text-decoration:none;
    padding: 10px 15%;
    border-top: 1px solid rgba(183,183,183,0.5);
    border-bottom: 1px solid rgba(183,183,183,0.5);
    margin-top:10px;
}
#web_login a:hover{color:#59a4c5;}




